
  
  
  <!-- ============= price table ================= -->
  <div class="ld_counter_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 pull-right counter_div">
          <div class="ld_counter_wrapper wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
            <h2>Why We Are Best</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.</p>
            <div class="counter_section">
              <ul>
                <li class="counter_wrapper">
                  <span class="counter_icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                  <h2 class="count-no" data-to="470" data-speed="10000">470</h2>
                  <p>Happy Costumers</p>
                </li>
                <li class="counter_wrapper">
                  <span class="counter_icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                  <h2 class="count-no" data-to="8501" data-speed="10000">8501</h2>
                  <p>saving</p>
                </li>
                <li class="counter_wrapper">
                  <span class="counter_icon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                  <h2 class="count-no" data-to="4" data-speed="1000">4.60</h2>
                  <p>rating</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>