
  <div class="ld_service_section">
    <div class="ld_overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="heading_wrapper white_heading">
              <h2 class="ld_main_title">our services</h2>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="ld_service_man wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <img src="assets/images/service2.jpg" alt="labour-directory-service1">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ld_services">
            <div class="ld_service_wrapper">
              <span class="service_icon"><i class="fa fa-male" aria-hidden="true"></i></span>
              <div class="ld_service_content">
                <h4 class="ld_service_title">Advisory<span>Repairman</span></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              </div>
            </div>
            <div class="ld_service_wrapper">
              <span class="service_icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
              <div class="ld_service_content">
                <h4 class="ld_service_title">Cooprative<span>Repairman</span></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              </div>
            </div>
            <div class="ld_service_wrapper">
              <span class="service_icon"><i class="fa fa-mixcloud" aria-hidden="true"></i></span>
              <div class="ld_service_content">
                <h4 class="ld_service_title">online<span>support</span></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ld_services">
            <div class="ld_service_wrapper">
              <span class="service_icon"><i class="fa fa-male" aria-hidden="true"></i></span>
              <div class="ld_service_content">
                <h4 class="ld_service_title">Company<span>Helpers</span></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              </div>
            </div>
            <div class="ld_service_wrapper">
              <span class="service_icon"><i class="fa fa-home" aria-hidden="true"></i></span>
              <div class="ld_service_content">
                <h4 class="ld_service_title">Home<span>Maintenance</span></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              </div>
            </div>
            <div class="ld_service_wrapper">
              <span class="service_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
              <div class="ld_service_content">
                <h4 class="ld_service_title">24x7<span>service</span></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>