<div class="page_title_section">
  <div class="ld_overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="page_title_wrapper">
            <h1 class="page_title">contact</h1>
          </div>
        </div>
      </div>
    </div>
  </div><!-- ======= page title section ========= -->
  <div class="inner_page">
    <div class="ld_contact_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <h3 class="contact_title">get in touch</h3>
            <div class="ld_contact_wrapper">
              <div class="col-lg-6 col-md-6 padding_left_0">
                <div class="form-group">
                  <input type="text" class="form-control" required="" id="name">
                  <label class="ld_label">name</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 padding_right_0">
                <div class="form-group">
                  <input type="text" class="form-control" required="" id="email">
                  <label class="ld_label">email</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 padding_left_0">
                <div class="form-group">
                  <input type="text" class="form-control" required="" id="phone">
                  <label class="ld_label">phone</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 padding_right_0">
                <div class="form-group">
                  <input type="text" class="form-control" required="" id="subject">
                  <label class="ld_label">subject</label>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 padding_0">
                <div class="form-group">
                  <textarea class="form-control" rows="3" required="" id="message"></textarea>
                  <label class="ld_label">message</label>
                </div>
              </div>
              <div class="btn_wrapper">
                <button type="button" class="btn ld_btn submit_form">send</button>
                <p class="input_error" id="err_msg" style="position: absolute; font-size: 12px; font-weight: 500; letter-spacing: 0.5px;"> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="ld_contact_info">
              <h3 class="info_title">Information</h3>
              <div class="ld_info_wrapper">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>CHANDIGARH</p>
              </div>
              <div class="ld_info_wrapper">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>+91 8051442480, +91 8051442480</p>
              </div>
              <div class="ld_info_wrapper">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p><a href="#">Help@yourmail.com</a>,<a href="#">Mail.mail@mail.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- =========== contact section =================== -->
    <div class="ld_map">
      <div id="labour_map"></div>
    </div>
  </div>
  <footer class="ld_footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="ld_footer_content text-widget">
            <a href="index-2.html" class="footer_logo">
              <img src="images/logo.png" alt="">
            </a>
            <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-Ipsum.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="ld_footer_content tag-cloud">
            <h3 class="footer_title">TAGS</h3>
            <ul>
              <li><a href="#">WORKERS</a></li>
              <li><a href="#">WORK</a></li>
              <li><a href="#">service</a></li>
              <li><a href="#">service provider</a></li>
              <li><a href="#">labour</a></li>
              <li><a href="#">directory</a></li>
              <li><a href="#">helper</a></li>
              <li><a href="#">plumber</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="ld_footer_content contact_widget">
            <h3 class="footer_title">Get In Touch</h3>
            <ul>
              <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>CHANDIGARH</li>
              <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>+91 8051442480</li>
              <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span><a href="#">Yourmail@youremail.com</a></li>
              <li><span><i class="fa fa-fax" aria-hidden="true"></i></span>+659874123, +659874124</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="ld_footer_content social_widget">
            <h3 class="footer_title">nEWSLETTER</h3>
            <form class="search-form">
              <input type="text" class="search_input">
              <a href="#" class="search_btn">send</a>
            </form>
            <ul class="social_icon">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<router-outlet></router-outlet>