
  
  <!-- ========== team section ============= -->
  <div class="ld_team_setion">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="heading_wrapper">
            <h2 class="ld_main_title">our team</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 team_div">
          <div class="ld_team_wrapper">
            <div class="ld_team_img">
              <img src="assets/images/team/santosh.jpg" alt="labour-directory-team1">
              <div class="ld_team_overlay">
                <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="team_name"><a href="team.html">SANTOSH KUMAR</a></h3>
            <span class="ld_profile">Moving Advisior</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 team_div">
          <div class="ld_team_wrapper">
            <div class="ld_team_img">
              <img src="assets/images/team/amit.jpg" alt="labour-directory-team2">
              <div class="ld_team_overlay">
                <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="team_name"><a href="team.html">AMIT KUMAR</a></h3>
            <span class="ld_profile">Moving Advisior</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 team_div">
          <div class="ld_team_wrapper">
            <div class="ld_team_img">
              <img src="assets/images/team/rambabu.jpg" alt="labour-directory-team3">
              <div class="ld_team_overlay">
                <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="team_name"><a href="team.html">RAMBABU KUMAR</a></h3>
            <span class="ld_profile">Moving Advisior</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 team_div">
          <div class="ld_team_wrapper">
            <div class="ld_team_img">
              <img src="assets/images/team/pintu.jpg" alt="labour-directory-team4">
              <div class="ld_team_overlay">
                <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="team_name"><a href="team.html">PINTU KUMAR</a></h3>
            <span class="ld_profile">Moving Advisior</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 team_div">
          <div class="ld_team_wrapper">
            <div class="ld_team_img">
              <img src="assets/images/team/ashif.jpg" alt="labour-directory-team6">
              <div class="ld_team_overlay">
                <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="team_name"><a href="team.html">ASHIF ALI</a></h3>
            <span class="ld_profile">Moving Advisior</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 team_div">
          <div class="ld_team_wrapper">
            <div class="ld_team_img">
              <img src="assets/images/team/divyanshu.jpg" alt="labour-directory-team6">
              <div class="ld_team_overlay">
                <ul class="social_icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <h3 class="team_name"><a href="team.html">DIVAYASHU KUMAR</a></h3>
            <span class="ld_profile">Moving Advisior</span>
          </div>
        </div>
      </div>
    </div>
  </div><!-- ================== team section ================ -->