
    
    <!-- ================ registation section ================== -->
    
  
  
  <div id="registration" class="modal fade ld_popup" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">registration</h4>
      </div>
      <div class="modal-body">
        <div class="register_form">
          <div class="form-group">
            <input type="text" class="form-control" required="">
            <label class="ld_label">name</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" required="">
            <label class="ld_label">last name</label>
          </div>
          <div class="form-group">
            <select class="form-control" required="">
              <option>Builder</option>
              <option>Painters</option>
              <option>Plumbers</option>
              <option>Landscapers</option>
              <option>Cleaners</option>
              <option>Electricians</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" required="">
            <label class="ld_label">email</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="ld_btn">register now</button>
      </div>
      </div>
    </div>
   </div>
   <div class="ld_colored_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 padding_0 left_div">
          <div class="ld_left_section">
            <h2 class="ld_title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">Hire a Labour</h2>
            <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
            <a href="#" class="ld_btn wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" data-toggle="modal" data-target="#registration">register</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 padding_0 right_div">
          <div class="ld_left_section">
            <h2 class="ld_title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">CREATE A jOB</h2>
            <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
            <a href="#" class="ld_btn wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" data-toggle="modal" data-target="#registration">register</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- ================ registation section ================== -->