
  <div class="ld_slider_section">
  
    <div id="rev_slider_1068_2_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="levano4export" data-source="gallery" style="background-color:transparent;padding:0px;">
                        <div id="rev_slider_1068_2" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
                            <ul>
                                <li data-index="rs-3010" data-transition="boxfade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="" data-rotate="0" data-fstransition="boxfade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/slide1.jpg" alt="labour-directory-slider" data-lazyload=".assets/images/slide1.jpg" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Power1.easeOut" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                    
                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                     id="slide-3045-layer-1" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']" 
                          data-fontsize="['50','50','50','35']"
                    data-lineheight="['60','60','60','40']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 
    
                    data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[10,10,10,10]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[10,10,10,10]"
    
                    style="z-index: 5; white-space: nowrap;text-transform:left;color: #ffffff;">Here We Provide the Helper</div>
    
    
                                    <!-- LAYER NR. 2 -->
                                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                       id="slide-3045-layer-4" 
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                       data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']" 
                            data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                 
                      data-type="text" 
                      data-responsive_offset="on" 
    
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['center','center','center','center']"
                      data-paddingtop="[0,0,0,0]"
                      data-paddingright="[10,10,10,10]"
                      data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[10,10,10,10]"
    
                      style="z-index: 6; white-space: nowrap;text-transform:center; color: #fff;font-weight: 300;"><p>It is a long established fact that a reader will be distracted by the readable content of a
                      page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p></div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                     id="slide-3045-layer-4" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['60','60','60','60']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 
    
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
    
                    style="z-index: 6; white-space: nowrap;text-transform:center; color: #fff;"><a href="#" class="slider_btn ld_btn">learn more</a></div>
                                </li>
    
                                <!--Second slide-->
                                <li data-index="rs-1698" data-transition="slideright" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Ken Burns">
                                    <!-- MAIN IMAGE -->
                                    <img src="assets/images/slider/slide2.jpg" alt="labour-directory-slider2" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="-500 0" data-offsetend="500 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption NotGeneric-Title tp-resizeme" 
                     id="slide-3045-layer-1" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']" 
                          data-fontsize="['50','50','50','35']"
                    data-lineheight="['60','60','60','40']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 
    
                    data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[10,10,10,10]"
                    data-paddingright="[10,10,10,10]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[10,10,10,10]"
    
                    style="z-index: 5; white-space: nowrap;text-transform:left;color: #ffffff;">Here We Provide the Helper</div>
    
    
                                    <!-- LAYER NR. 2 -->
                                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                       id="slide-3045-layer-4" 
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                       data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']" 
                            data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                 
                      data-type="text" 
                      data-responsive_offset="on" 
    
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['center','center','center','center']"
                      data-paddingtop="[0,0,0,0]"
                      data-paddingright="[10,10,10,10]"
                      data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[10,10,10,10]"
    
                      style="z-index: 6; white-space: nowrap;text-transform:center; color: #fff;font-weight: 300;"><p>It is a long established fact that a reader will be distracted by the readable content of a
                      page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p></div>
    
                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                     id="slide-3045-layer-4" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['60','60','60','60']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 
    
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
    
                    style="z-index: 6; white-space: nowrap;text-transform:center; color: #fff;"><a href="#" class="slider_btn ld_btn">learn more</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
      
      
    </div><!-- ======= Slider section ========= -->