
  <div class="ld_category_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="heading_wrapper">
            <h2 class="ld_main_title">category</h2>
            
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ld_category wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="ld_category_wrapper">
            <img src="assets/images/category/cat1.jpg" [routerLink]="['/list_labour']" alt="labour-directory-category1">
            <div class="cat_overlay"><a [routerLink]="['/list_labour']" class="cat_name">plumbers</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ld_category wow fadeIn" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="ld_category_wrapper">
            <img src="assets/images/category/cat2.jpg" [routerLink]="['/list_labour']" alt="labour-directory-category2">
            <div class="cat_overlay"><a [routerLink]="['/list_labour']" class="cat_name">electrician</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ld_category wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms">
          <div class="ld_category_wrapper">
            <img src="assets/images/category/cat3.jpg" [routerLink]="['/list_labour']" alt="labour-directory-category3">
            <div class="cat_overlay"><a [routerLink]="['/list_labour']" class="cat_name">construction</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ld_category wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="ld_category_wrapper">
            <img src="assets/images/category/cat4.jpg" [routerLink]="['/list_labour']" alt="labour-directory-category4">
            <div class="cat_overlay"><a [routerLink]="['/list_labour']" class="cat_name">carpenter</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ld_category wow fadeIn" data-wow-delay="800ms" data-wow-duration="1500ms">
          <div class="ld_category_wrapper">
            <img src="assets/images/category/cat5.jpg" [routerLink]="['/list_labour']" alt="labour-directory-category5">
            <div class="cat_overlay"><a [routerLink]="['/list_labour']" class="cat_name">painter</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 ld_category wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1500ms">
          <div class="ld_category_wrapper">
            <img src="assets/images/category/cat6.jpg" [routerLink]="['/list_labour']" alt="labour-directory-category6">
            <div class="cat_overlay"><a [routerLink]="['/list_labour']" class="cat_name">repairing</a></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- ================ category section ==================-->
  <router-outlet></router-outlet>

 